doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content