body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #eceff1;
}

a {
  color: #00B7FF;
}
input[type='text'], input[type='email']{
	margin-left: 3em;

}

#password{
	margin-left: 1em;
}